html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
  background: white; 
  
}

header {
	height: 20%;
	width: 100%;
	background: blue;
}


#topLeft { 
   display: inline-block; 
   background: red; 
   width: 49%; 
   height: 200px;
   float: left; 
   margin-top: 15px; 
}

#topRight {
 	display: inline-block; 
   background: red; 
   width: 49%; 
   height: 200px; 
   float: right; 
   margin-top: 15px; 
}


#left {
	width: 17%;
	height: 200px;
	background-color: orange;
	float: left;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-right: 15px;
	clear: both;
}

#middle {
	width: 63%;
	height: 200px;
	background-color: purple;
	float: left;
	margin-top: 15px;
	margin-bottom: 20px;
	
}


#right {
	width: 17%;
	height: 200px;
	background-color: orange;
	float: right;
	margin-top: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
}

footer {
	width: 100%;
	height: 20%;
	background-color: blue;
	clear: both;	
}