body {
    padding:0;
    margin:4%;
}
header {
    background-color: #ddd;
    height: 125px;
    width: 98%;
    margin: 10px;
    border:1px solid #444;
}
section {
    background-color: #ddd;
    float: left;
    margin: 10px 10px 20px 10px;
    height: 400px;
    border:1px solid #444;
}

#column-one {
    width: 20%;
}

#column-two {
    width: 54body {
    padding:0;
    margin:4%;
}
header {
background-color: #ddd;
height: 125px;
width: 98%;
margin: 10px;
border:1px solid #444;
}
section {
background-color: #ddd;
float: left;
margin: 10px 10px 20px 10px;
height: 400px;
border:1px solid #444;
}

#column-one {
width: 64.5%;
}

#column-two {
width: 31.5%;
}
footer {
background-color: #ddd;
clear: both;
height: 125px;
width: 98%;
margin: 10px;
border:1px solid #444;
}
%;
}

#column-three{
    width: 20%;
}
footer {
    background-color: #ddd;
    clear: both;
    height: 125px;
    width: 98%;
    margin: 10px;
    border:1px solid #444;
}
