.container {
	display: flex;
}


header {
	background-color: grey;
	height: 25%;
	width: 100%;
	margin-top: 2%;
}

p {
	background-color: grey;
	height: 71%;
	width: 66%;
	margin-bottom: 1.5%;
	display: inline-block;
}

section {
	background-color: grey;
	height: 71%;
	width: 33%;
	margin-top:16px;
	float: right;
	display: inline-block;
}
footer {
	background-color: grey;
	height: 24%;
	width: 100%;
	margin-right: 2%;
	clear: both;